@charset "utf-8";
/* CSS Document */
* {
	margin:0;
	padding:0;
}

body {
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	background:url(../images/fab30.jpg);
	color:#333;
	width:960px;
	margin:0 auto 0 auto;
}

a {
	color:#03F;
	font-weight:bold;
	text-decoration:none;
}

a:hover {
	color:#00D;
	background:#EEE;
}

p {
	margin-left:10px;
}

#head {
	margin-top:20px;
	height:250px;
	padding:5px 0 0 10px;
	font-size:xx-large;
	font-weight:bold;
	color:black;
	background:url(../images/photo001.jpg) center no-repeat #E0F2B7;
}

#main {
	margin-top:5px;
	width: 79%;
	float: left;
}

#main h1 {
	color:#000;
}

#main h2 {
	padding:5px 0 5px 10px;
	background:#555;
	color:#FFF;
}

#main h3 {
	padding:5px 0 5px 10px;
	background:#F4FFFF;
}
#main .strong {
	font-weight:bold;
}

#main .content {
	font-size:medium;
	background:#DDD;
	color:black;
	padding:10px 5px 5px 10px;
	line-height:30px;
}

#side {
	margin-top:5px;
	border:solid 1px #FFF;
	text-align:center;
	width: 20%;
	float: right;
	background:#CCC;
	font-size:small;
}

#side h2 {
	margin:0 0 5px 0;
	padding:5px 0 5px 0;
	background:#888;
	color:#FFF;
	text-align:center;
}

ul {
	text-align:left;
	list-style:none;
}

ul a:hover {
	background:white;
}
